<!DOCTYPE html>
<html>
<head>
  <meta content="The Rock" property="og:title">
  <meta content="video.movie" property="og:type">
  <meta content="http://www.imdb.com/title/tt0117500/" property="og:url">
  <meta content="http://example.com/ogp.jpg" property="og:image">
  <meta content="http://example.com/movie.swf" property="og:video">
  <meta content="https://secure.example.com/movie.swf" property="og:video:secure_url">
  <meta content="application/x-shockwave-flash" property="og:video:type">
  <meta content="400" property="og:video:width">
  <meta content="300" property="og:video:height">
  <title></title>
</head>
<body>
</body>
</html>
